<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
		<add key="Sunlight" value="https://baget.sea.utuapp.cn/v3/index.json" />
        <add key="AzureCN" value="https://nuget.cdn.azure.cn/v3/index.json" />
        <add key="HuaweiCloud" value="https://repo.huaweicloud.com/repository/nuget/v3/index.json" />
        <add key="Tencent" value="https://mirrors.cloud.tencent.com/nuget/" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <auditSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </auditSources>
</configuration>